.App {
  /* text-align: center; */
}

body {
  background-color: rgb(38, 38, 38);
}

.App-header {
  text-align: center;
  color: white;
}

/* Article List Styling */
.article-list-title {
  font-size: 20px;
}

.article-list-topic {
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

.article-list-createdAt {
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

.article-list-author {
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

.article-list-votes {
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

.article-list-comment-count {
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

.article-body {
  text-align: left;
}

.comments-label {
  text-align: left;
}

.dropdown-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin: 20px;
}

.article-card {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px;
  background-image: linear-gradient(white, rgb(240, 240, 240));
  box-shadow: 5px 3px 5px #545454;
}

.article-card-header {
  background-color: transparent;
}

.votebar {
  background-color: rgb(247, 247, 247);
  border-radius: 4px 0px 0px 4px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1 / span 3;
  /* border-right: 1px solid; */
  justify-items: center;
}

.votenumber {
  text-align: center;
}

.votebutton {
  margin: auto;
}

.avatar-username-topic {
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.date-title {
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.article-footer {
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.article-footer-comments {
  font-size: 12px;
}

.article-card-header-username {
  background-color: transparent;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0px;
}

.article-card-header-topic {
  background-color: transparent;
  font-weight: bold;
  font-size: 11px;
  margin: 7px;
}

.avatar-img {
  float: left;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  box-shadow: 1px 1px 1px rgb(40, 40, 40);
}

.date-title-date {
  font-style: italic;
  font-size: 12px;
  margin: 0px;
}

.date-title-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.topic-title {
  text-align: center;
  color: white;
}

.article-card-body {
  grid-column-start: 2;
  font-size: 12px;
}

.filterbar {
}

.single-article-container {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px;
  background-image: linear-gradient(white, rgb(240, 240, 240));
  box-shadow: 5px 3px 5px #545454;
  background-color: white;
}
.comments-container {
  background-color: white;
  border-radius: 4px;
  margin: 10px;
}

.comment-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}

.single-article-body {
  grid-column-start: 2;
  grid-column-end: 2;
}
