.App {
  font-family: "Alata", sans-serif;
}

body {
  background-color: rgb(38, 38, 38);
}

.App-header {
  text-align: center;
  background-color: DodgerBlue;
  color: white;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.header-title {
  font-family: "Odibee Sans", cursive;
  margin: 0;
}

.dropdown-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Odibee Sans", cursive;
  color: white;
  margin-top: 30px;
}

.article-card {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 3px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  background-image: linear-gradient(white, rgb(240, 240, 240));
  /* box-shadow: 5px 3px 5px #545454; */
}

.votebar {
  background-color: rgb(238, 238, 238);
  border-radius: 4px 0px 0px 4px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1 / span 3;
  justify-items: center;
}

.votebar button {
  display: block;
  margin: 0 auto;
}

.votenumber {
  text-align: center;
}

.votebutton {
  margin: auto;
  background-color: DodgerBlue;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
}

.votebutton:hover {
  margin: auto;
  background-color: white;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.avatar-username-topic {
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.date-title {
  font-family: "Alata", sans-serif;
  font-size: 20px;
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.article-footer {
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.article-footer-comments {
  font-size: 12px;
}

.article-card-header-username {
  background-color: transparent;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0px;
}

.article-card-header-topic {
  background-color: transparent;
  font-weight: bold;
  font-size: 11px;
  margin: 7px;
}

.avatar-img {
  float: left;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  box-shadow: 1px 1px 1px rgb(40, 40, 40);
}

.date-title-date {
  font-style: italic;
  font-size: 12px;
  margin: 0px;
}

.date-title-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.topic-title {
  font-family: "Odibee Sans", cursive;
  text-transform: capitalize;
  text-align: left;
  color: white;
}

.article-card-body {
  grid-column-start: 2;
  font-size: 12px;
}

.filterbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-article-container {
  display: grid;
  /* grid-template-columns: 60px auto; */
  grid-gap: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px;
  background-image: linear-gradient(white, rgb(240, 240, 240));
  box-shadow: 5px 3px 5px #545454;
  background-color: white;
}
.comments-container {
  grid-column-start: 1;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
}

.comment-container {
  display: grid;
  grid-template-columns: 60px auto;
  background-image: linear-gradient(white, rgb(240, 240, 240));
  box-shadow: 5px 3px 5px #545454;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}

.comment-card-body {
  grid-column-start: 2;
  font-size: 12px;
}

.single-article-body {
  grid-column-start: 2;
  grid-column-end: 2;
}

.sort-dropdown-container {
  display: inline-block;
}

.sort-articles-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.all-articles-container {
  display: grid;
  grid-template-columns: auto 400px;
}

.articles-list-container {
}

.articles-list-header {
}

.sidebar {
}

.filterbar-desktop {
  grid-column-start: 2;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .all-articles-container {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 901px) {
  .top-bar-mobile {
    display: none;
  }
  /* .single-article-container {
    display: grid;
    grid-template-columns: auto 400px;
  } */
}

.btn {
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  margin: 5px;
  color: white;
  padding: 12px 16px;
  font-family: "Alata", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-transform: capitalize;
}

.btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.add-comment-textarea {
  resize: none;
}

.add-comment-err {
  color: red;
}
.error-header {
  text-align: center;
  color: white;
}
