.all-articles-container {
  display: grid;
  grid-template-columns: auto 300px;
}

.App {
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  text-align: center;
  background-color: DodgerBlue;
  top: 0;
  /* width: 100%; */
}

.article-card {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto auto;
  grid-gap: 3px;
  align-content: start;
  /* border: 1px solid black; */
  border-radius: 4px;
  margin: 10px;
  background-image: linear-gradient(white, rgb(240, 240, 240));
}

.article-card-body {
  grid-column-start: 2;
  font-size: 12px;
}

.article-card-header-topic {
  height: 14px;
  background-color: transparent;
  font-weight: bold;
  font-size: 11px;
  margin: 7px;
}

.article-card-header-username {
  height: 14px;
  background-color: transparent;
  font-size: 11px;
  font-weight: bold;
  margin-top: 0px;
}

.article-footer {
  min-height: 39px;
  margin: 5px;
  background-color: transparent;
  grid-column-start: 2;
  grid-column-end: 2;
}

.article-footer-comments {
  font-size: 12px;
}

.article-header-and-body {
  background-image: linear-gradient(white, rgb(240, 240, 240));
}

.articles-list-container {
  grid-column-start: 1;
}

.articles-list-header {
  min-height: 30px;
}

.avatar-img {
  float: left;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  box-shadow: 1px 1px 1px rgb(40, 40, 40);
}

.avatar-username-topic {
  margin: 5px;
  background-color: transparent;
}

body {
  background-color: rgb(38, 38, 38);
}

.btn {
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  padding: 12px 16px;
  /* font-family: "Alata", sans-serif; */
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-transform: capitalize;
  min-width: 140px;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid;
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.comments-container {
  grid-column-start: 1;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
}

.comment-author {
  margin: 0px;
}

.comment-card-body {
  grid-column-start: 2;
  font-size: 12px;
}

.comment-container {
  display: grid;
  grid-template-columns: 60px auto;
  background-image: linear-gradient(white, rgb(240, 240, 240));
  box-shadow: 5px 3px 5px #545454;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}

.date-title {
  /* font-family: "Alata", sans-serif; */
  min-height: 37px;
  margin: 5px;
  font-size: 18px;
  background-color: transparent;
  /* grid-column-start: 2;
  grid-column-end: 2; */
}

.date-title-date {
  font-style: italic;
  font-size: 12px;
  margin: 0px;
}

.date-title-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.dropdown-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* font-family: "Odibee Sans", cursive; */
  margin-top: 30px;
}

.filterbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-title {
  font-family: 'Audiowide', cursive;
  font-size: 30px;
  color: white;
  margin: 0;
}

.single-article-body {
  margin: 0 5px;
  grid-column-start: 2;
  grid-column-end: 2;
  line-height: 1.5em;
}

.single-article-container {
  display: grid;
  /* grid-template-columns: 60px auto; */
  grid-gap: 3px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px;
  /* background-image: linear-gradient(white, rgb(240, 240, 240)); */
  /* box-shadow: 5px 3px 5px #545454; */
  /* background-color: white; */
}

.sort-articles-by {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  color: white;
  display: inline;
}

.sort-dropdown-container {
  display: inline-block;
  float: right;
  margin-top: 9px;
  margin-right: 10px;
}

.testdiv {
  background-color: white;
  border-radius: 4px;
  /* margin: 0; */
}

.topic-description {
  /* color: white; */
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.topic-and-description {
  margin-top: 40px;
}

.topic-title {
  font-family: 'Audiowide', cursive;
  text-transform: capitalize;
  text-align: left;
  color: white;
  display: inline;
  margin-left: 10px;
}

/*  */

.filterbar-desktop {
  grid-column-start: 2;
}

.add-comment-textarea {
  margin: 5px;
  resize: none;
  /* width: 100%; */
  font-size: 20px;
}

.add-comment-err {
  color: red;
}
.add-comment-label {
  margin: 5px;
}

.error-header {
  text-align: center;
  color: white;
}

.sidebar-desktop {
}

.comment-count {
  font-family: 'Audiowide', cursive;
  margin: 5px;
}

.comment-details {
  grid-column-start: 2;
  margin: 5px;
  font-size: 10px;
}

.sidebar-topic-title {
  /* color: white; */
  font-family: 'Audiowide', cursive;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}
.single-article-sidebar {
  grid-column-start: 2;
}

.topic-container {
  /* background-color: white; */
  background-image: linear-gradient(white, rgb(240, 240, 240));
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 10px;
}

.user-sidebar {
  /* margin-bottom: 10px; */
  margin-right: 10px;
  height: 145px;
  /* background-color: white; */
  background-image: linear-gradient(white, rgb(240, 240, 240));
  border-radius: 4px;
}

.votebar {
  background-color: rgb(238, 238, 238);
  border-radius: 4px 0px 0px 4px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1 / -1;
  justify-items: center;
}

.votebar button {
  display: block;
  /* padding: 0 auto; */
  margin: 0 auto;
  margin-top: 5px;
  width: 90%;
  height: 35px;
}

.votebar button:hover {
  display: block;
  /* padding: 0 auto; */
  margin: 0 auto;
  margin-top: 5px;
}

.votebutton {
  margin: auto;
  margin-top: 5px;
  background-color: DodgerBlue;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
}

.votebutton:hover {
  margin: auto;
  margin-top: 5px;
  background-color: white;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.votenumber {
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 20px;
}

@media only screen and (max-width: 400px) {
  .dropdown-box {
    margin-top: 0px;
  }
  /* .filterbar {
        display: grid;
        grid-template-columns: auto auto;
      } */
  /* .order-articles-by {
        grid-column-start: 1;
      } */
  .sort-dropdown-container {
    display: grid;
    /* float: right; */
    grid-template-columns: auto;
    margin-top: 9px;
    margin-right: 10px;
  }
  /* .sort-articles-by {
        grid-column-start: 1;
      } */
}

@media only screen and (max-width: 650px) {
  .filterbar {
    display: grid;
    grid-template-columns: auto auto;
  }
  .order-articles-by {
    grid-column-start: 1;
  }
  .sort-articles-by {
    grid-column-start: 1;
  }
  topic-and-description {
    display: none;
  }
}

@media only screen and (max-width: 870px) {
  .all-articles-container {
    grid-template-columns: auto;
  }
  .sidebar {
    display: none;
  }
  .single-article-sidebar {
    display: none;
  }
  .topic-and-description {
    display: none;
  }
}

@media only screen and (min-width: 851px) {
  .all-articles-sort-filter {
    display: none;
  }
  .App {
    /* display: grid;
        grid-template-columns: auto 300px; */
  }
  .sidebar-desktop {
    grid-column-start: 2;
  }
  .single-article-container {
    display: grid;
    grid-template-columns: auto 300px;
  }
  .single-article-topbar {
    display: none;
  }
  .top-bar-mobile {
    display: none;
  }
}
